<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <div id="home-header">
        <h1 id="home-title">KMA Health</h1>
    </div>
</header>

<section id="login-section">
    <h2>Login</h2>

    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>

    <hr>

    <p>Don't have an account?</p>
    <button type="button" id="register-button">Register</button>
</section>

<script>
    document.getElementById("register-button").addEventListener("click", () => {
        window.location.href = "register";
    });
</script>
</body>
</html>
