<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor registration</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<form th:object="${registerRequest}"
      th:action="@{/ui/public/register/doctor}"
      method="post">

    <div>
        <label for="fullName">Повне ім'я</label>
        <input id="fullName" type="text" th:field="*{fullName}">
        <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
    </div>

    <div>
        <label for="birthDate">Дата народження</label>
        <input id="birthDate" type="date" th:field="*{birthDate}">
        <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>

    <div>
        <label for="password">Пароль</label>
        <input id="password" type="password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>

    <div>
        <label for="passportNumber">Номер паспорта</label>
        <input id="passportNumber" type="text" th:field="*{passportNumber}">
        <p th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}"></p>
    </div>

    <div>
        <label for="hospitalId">Лікарня</label>
        <select id="hospitalId" th:field="*{hospitalId}">
            <option value="" disabled selected>-- Оберіть лікарню --</option>
            <option th:each="h : ${hospitals}"
                    th:value="${h.id}"
                    th:text="${h.name}">
            </option>
        </select>
    </div>

    <div>
        <label for="doctorType">Спеціалізація</label>
        <select id="doctorType" th:field="*{doctorTypeId}">
            <option value="" disabled selected>-- Оберіть спеціалізацію --</option>
            <option th:each="dt : ${doctorTypes}"
                    th:value="${dt.id}"
                    th:text="${dt.typeName}">
            </option>
        </select>
    </div>

    <div>
        <label for="registerKey">Код реєстрації</label>
        <input id="registerKey" type="text" th:field="*{registerKey}">
        <p th:if="${#fields.hasErrors('registerKey')}" th:errors="*{registerKey}"></p>
    </div>


    <button type="submit">Створити користувача</button>
</form>

</body>
</html>
